.header {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 5.5rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  align-items: center;
}

.header > *:nth-child(1) {
  flex: 1 1 15%;
}

.header > *:nth-child(3) {
  flex: 1 1 15%;
}

.header nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul {
  list-style: none;
  display: flex;
}

/* .header a {
  text-decoration: none;
  color: inherit;
  padding: 0.7rem 1rem;
} */

.logo {
  padding-left: 3rem;
}

.rightMenu {
  padding-right: 3rem;
}

.leftMenu {
  flex: 1 1 70%;
}

.logo a {
  display: block;
  padding-left: 2rem;
  padding-right: 1rem;
}

.header span {
  margin: 0 1rem;
}
