.section-bottom {
  display: flex;
  flex-direction: column;
}

.button-group {
  display: flex;
  margin-bottom: 30px;
}

.leftButton {
  background: rgba(23, 26, 32, 0.8);
  border: 1px solid rgba(23, 26, 32, 0.8);
  color: white;
}

.rightButton {
  background: white;
  border: 1px solid white;
  color: black;
}

.downArrow {
  height: 40px;
  color: #171a20;
  animation: animateDown infinite 1.5s;
}

@keyframes animateDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(5px);
  }

  60% {
    transform: translateY(3px);
  }
}

@media (max-width: 768px) {
  .button-group {
    flex-direction: column;
  }
}
