.heading {
  padding-top: 15vh;
  text-align: center;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 500;
}

.heading h1 {
  font-size: 4rem;
  font-weight: inherit;
}

.heading p {
  font-size: 1.5rem;
  font-weight: 400;
}
